/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/GYM-CRM-MS.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/training-session-management.main.iml
/.idea/vcs.xml
/.idea/modules/gymcrm.main.iml
/.idea/codeStyles/codeStyleConfig.xml
